@import "tailwindcss";
@layer base{
  body{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s step-start infinite;
}
